conteiner{
    display: block;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.mblur
    {
        display: inline-block;
      position:absolute;
      top: 0px;
      /* left: 0%; 
       z-index: 1; */
      width: 100%;
    }
    .mc
    {
      display: inline-block;
      position:absolute;
      top: 200px;
      left: 15%;
      z-index: 2;
      width: 950px;
      height: 690px;
      border-image: round;
    }
form { 
    display: inline-block;
    position: absolute;
    z-index: 3;
    color: lightgray;
    height: 740px;
    width: 720px;
    background-color: white;
    margin-top: 150px;
    margin-left: 425px;
    
}

form>*{

    padding: 15px 30px;
    display: block;
    width: 60%;
    border: none;
    
    margin-top: 20px;
    margin-left: 15%;
    text-align: left;
    
}
form>input {
    border-bottom: 2px solid gainsboro;
}

    h1 {
        margin-left: 2%;
        margin-top: 15%;
        position:absolute;
        z-index: 3;
        font-size: 50px;
        color: blue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    nav {
        margin-top: 42%;
        position:absolute;
        z-index: 3;
        font-size: 28px;
        color: whitesmoke;
    }
    button {
        background-color: blue;
        border-radius: 30px;
        width: 30%

    }
    a {
        display: inline-block;
        font-size: 16px;
        color: blue;
        z-index: 5;
    }
    
    button {
        background-color: blueviolet; /* Green */
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 6px 4px;
        cursor: pointer;
        margin-top: 50px;
        margin-left: 80px;
    }

    .button3 {
        background-color: white;
        color: blue;
    }
    
    